<%= form_with(model: [:admin, @genus], class: "contents") do |form| %>
  <% if genus.errors.any? %>
    <div id="error_explanation" class="error alert bg-red-50 text-red-500 px-2 py-1 font-medium rounded-md mt-3">
      <h2><%= pluralize(genus.errors.count, "error") %> prohibited this genus from being saved:</h2>

      <ul class="list-disc ml-6">
        <% genus.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :mblist_id %>
    <%= form.text_field :mblist_id, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": genus.errors[:mblist_id].none?, "border-red-400 focus:outline-red-600": genus.errors[:mblist_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :taxon_name %>
    <%= form.text_field :taxon_name, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": genus.errors[:taxon_name].none?, "border-red-400 focus:outline-red-600": genus.errors[:taxon_name].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary btn-responsive" %>
  </div>
<% end %>
