<div id="<%= dom_id mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= mushroom.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= mushroom.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= mushroom.comment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= mushroom.user_id %>
  </div>
</div>
