<div id="<%= dom_id mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mushroom name:</strong>
    <%= mushroom.mushroom_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= mushroom.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= mushroom.state_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= mushroom.country_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fungus type:</strong>
    <%= mushroom.fungus_type_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mushroom location:</strong>
    <%= mushroom.mushroom_storage_location_id %>
  </div>
</div>
