<div id="<%= dom_id chem_reaction %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= chem_reaction.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= chem_reaction.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= chem_reaction.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= chem_reaction.source %>
  </div>
</div>
