<div id="<%= dom_id bulb_type %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bulb_type.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= bulb_type.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= bulb_type.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= bulb_type.source %>
  </div>
</div>
