<%= form_with(model: [:admin, fungus_type], class: "contents") do |form| %>
  <% if fungus_type.errors.any? %>
    <div id="error_explanation" class="error alert bg-red-50 text-red-500 px-2 py-1 font-medium rounded-md mt-3">
      <h2><%= pluralize(fungus_type.errors.count, "error") %> prohibited this fungus_type from being saved:</h2>

      <ul class="list-disc ml-6">
        <% fungus_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-1">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": fungus_type.errors[:name].none?, "border-red-400 focus:outline-red-600": fungus_type.errors[:name].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": fungus_type.errors[:description].none?, "border-red-400 focus:outline-red-600": fungus_type.errors[:description].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :comments %>
    <%= form.text_area :comments, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": fungus_type.errors[:comments].none?, "border-red-400 focus:outline-red-600": fungus_type.errors[:comments].any?}] %>
  </div>

  <div class="my-1">
    <%= form.submit class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
    <% if fungus_type.persisted? %>
      <%= link_to "Show this fungus type", admin_fungus_type_path(fungus_type), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
    <% end %>
    <%= link_to "Back to fungus types", admin_fungus_types_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>
<% end %>
