<div id="<%= dom_id veil %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= veil.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= veil.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= veil.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= veil.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= veil.entered_by_id %>
  </div>
</div>
