<div id="<%= dom_id cap_shape_top_view %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cap_shape_top_view.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cap_shape_top_view.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= cap_shape_top_view.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= cap_shape_top_view.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= cap_shape_top_view.entered_by_id %>
  </div>
</div>
