<div id="<%= dom_id stem_texture %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stem_texture.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= stem_texture.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= stem_texture.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= stem_texture.source %>
  </div>
</div>
