<div id="<%= dom_id gill_breadth %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gill_breadth.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gill_breadth.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= gill_breadth.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= gill_breadth.source %>
  </div>
</div>
