<% content_for :title, "Showing cluster" %>

<div class="md:w-2/3 w-full">

  <h1 class="font-bold text-2xl">Showing cluster</h1>

  <%= render @cluster %>

  <%= link_to "Edit this Cluster", edit_cluster_path(@cluster), class: "btn-primary" %>
  <%= link_to "Back to Clusters", clusters_path, class: "btn-primary" %>
  <%= link_to "Back to Mushrooms", mushrooms_path, class: "btn-primary" %>
  <%= button_to "Delete this cluster", @cluster, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
