<div id="<%= dom_id partial_inner_veil_texture %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= partial_inner_veil_texture.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= partial_inner_veil_texture.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= partial_inner_veil_texture.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= partial_inner_veil_texture.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= partial_inner_veil_texture.entered_by_id %>
  </div>
</div>
