<h1><%= controller_name.humanize %></h1>

<%= link_to "New #{controller_name.singularize.humanize}", new_polymorphic_path([:admin, model_class]),
            class: 'btn btn-primary' %>

<table>
  <thead>
  <tr>
    <% model_class.column_names.each do |column| %>
      <th><%= column.humanize %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <% model_class.column_names.each do |column| %>
        <td><%= item.send(column) %></td>
      <% end %>
      <td>
        <%= link_to "Edit", edit_polymorphic_path([:admin, item]), class: 'btn btn-primary' %>
        <%= link_to "Delete", polymorphic_path([:admin, item]), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>