<% content_for :title, "Permissions" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-1 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Permissions</h1>
    <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-2 py-1 bg-gray-600 hover:bg-gray-500 text-white block font-medium" %>
    <%= link_to "New permission", new_admin_permission_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="permissions" class="min-w-full divide-y divide-gray-100 space-y-5">
    <% if @permissions.any? %>
      <% @permissions.each do |permission| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render permission %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-1">
            <%= link_to "Show", admin_permission_path(permission), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
            <%= link_to "Edit", edit_admin_permission_path(permission), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
            <%# button_to "Delete", admin_permission_path(permission), method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No permissions found.</p>
    <% end %>
  </div>
</div>
