<div id="<%= dom_id habitat %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= habitat.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= habitat.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= habitat.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= habitat.source %>
  </div>
</div>
