<div id="<%= dom_id abundance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= abundance.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= abundance.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= abundance.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= abundance.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= abundance.entered_by_id %>
  </div>
</div>
