<div id="<%= dom_id data_source %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= data_source.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= data_source.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= data_source.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= data_source.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= data_source.entered_by_id %>
  </div>
</div>
