<div id="<%= dom_id stem_shape %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stem_shape.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= stem_shape.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= stem_shape.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= stem_shape.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= stem_shape.entered_by_id %>
  </div>
</div>
