<div id="<%= dom_id article %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= article.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= article.author %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ref:</strong>
    <%= article.ref %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Item code:</strong>
    <%= article.item_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= article.comment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">My rating:</strong>
    <%= article.my_rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">My comment:</strong>
    <%= article.my_comment %>
  </div>
</div>
