<div id="<%= dom_id annulus_position %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= annulus_position.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= annulus_position.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= annulus_position.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= annulus_position.source %>
  </div>
</div>
