<%= form_with(model: [:admin, @lookup_item], class: "contents") do |form| %>
  <% if lookup_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-2 py-1 font-medium rounded-md mt-3">
      <h2><%= pluralize(lookup_item.errors.count, "error") %> prohibited this lookup_item from being saved:</h2>

      <ul class="list-disc ml-6">
        <% lookup_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-1">
    <%= form.label :mr_character_id, "MR Character" %>
    <%= form.collection_select :mr_character_id, MrCharacter.includes(:part).order('parts.name, mr_characters.name'), :id, :name, { prompt: "Select a character" }, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lookup_item.errors[:mr_character_id].none?, "border-red-400 focus:outline-red-600": lookup_item.errors[:mr_character_id].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :source_data_id, "Source Data" %>
    <%= form.collection_select :source_data_id, SourceData.order(:title), :id, :title, { prompt: "Select a source" }, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lookup_item.errors[:source_data_id].none?, "border-red-400 focus:outline-red-600": lookup_item.errors[:source_data_id].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lookup_item.errors[:name].none?, "border-red-400 focus:outline-red-600": lookup_item.errors[:name].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lookup_item.errors[:description].none?, "border-red-400 focus:outline-red-600": lookup_item.errors[:description].any?}] %>
  </div>

  <div class="my-1">
    <%= form.label :comments %>
    <%= form.textarea :comments, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lookup_item.errors[:comments].none?, "border-red-400 focus:outline-red-600": lookup_item.errors[:comments].any?}] %>
  </div>

  <%= render "admin/shared/form_actions",
             record: lookup_item,
             back_path: admin_lookup_items_path,
             submit_text: (lookup_item.persisted? ? "Update" : "Create"),
             show_text: "Show this lookup item",
             back_text: "Back to lookup items" %>
<% end %>

