<% content_for :title, "lookup_items" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="px-2 py-1 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Lookup Items</h1>
    <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    <%= link_to "New Lookup Item", new_admin_lookup_item_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <% if @lookup_items.any? %>
    <div class="my-4">
      <%= paginate @lookup_items,
                   theme: 'tailwind_bar',
                   params: request.query_parameters,
                   window: 2,        # how many pages around current
                   outer_window: 1   # how many pages at the ends
      %>
    </div>
  <% end %>

  <div id="lookup_items" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @lookup_items.any? %>
      <% @lookup_items.group_by(&:mr_character).each do |mr_character, items| %>
        <div class="my-10">
          <h2 class="font-bold text-2xl mb-2">
            <%= mr_character&.name || 'Unassigned Character' %>
          </h2>
          <div class="overflow-x-auto">
            <table class="min-w-full table-auto border border-gray-200 mb-8">
              <thead>
              <tr>
                <th class="px-2 py-1">Name</th>
                <th class="px-2 py-1">Description</th>
                <th class="px-2 py-1">Comments</th>
                <th class="px-2 py-1">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% items.each do |lookup_item| %>
                <tr id="<%= dom_id lookup_item %>">
                  <td class="border px-2 py-1"><%= lookup_item.name %></td>
                  <td class="border px-2 py-1"><%= lookup_item.description %></td>
                  <td class="border px-2 py-1"><%= lookup_item.comments %></td>
                  <td class="border px-2 py-1 whitespace-nowrap">
                    <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
                      <%= render "admin/shared/resource_actions", record: lookup_item, delete: false %>  <!-- show, edit, destroy (optional -->
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No lookup items found.</p>
    <% end %>
  </div>
  <% if @lookup_items.any? %>
    <div class="my-4">
      <%= paginate @lookup_items,
                   theme: 'tailwind_bar',
                   params: request.query_parameters,
                   window: 2,        # how many pages around current
                   outer_window: 1   # how many pages at the ends
      %>
    </div>
  <% end %>
</div>
