<div id="<%= dom_id synonym %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= synonym.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= synonym.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= synonym.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= synonym.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= synonym.entered_by_id %>
  </div>
</div>
