<%# app/views/kaminari/tailwind_bar/_paginator.html.erb %>
<%= paginator.render do %>
  <nav class="mt-4">
    <ul class="flex flex-wrap items-center gap-2 bg-gray-100 rounded-md p-2">
      <%= first_page_tag %>
      <%= prev_page_tag %>

      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? %>
          <%= gap_tag %>
        <% end %>
      <% end %>

      <%= next_page_tag %>
      <%= last_page_tag %>
    </ul>
  </nav>
<% end %>
