<%= form_with(model: len, class: "contents") do |form| %>
  <% if len.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(len.errors.count, "error") %> prohibited this len from being saved:</h2>

      <ul class="list-disc ml-6">
        <% len.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :lens_make_id %>
    <%= form.text_field :lens_make_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": len.errors[:lens_make_id].none?, "border-red-400 focus:outline-red-600": len.errors[:lens_make_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :lens_model %>
    <%= form.text_field :lens_model, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": len.errors[:lens_model].none?, "border-red-400 focus:outline-red-600": len.errors[:lens_model].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :entered_by_id %>
    <%= form.text_field :entered_by_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": len.errors[:entered_by_id].none?, "border-red-400 focus:outline-red-600": len.errors[:entered_by_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
