<div id="<%= dom_id lens %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Make:</strong>
    <%= lens.make %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model:</strong>
    <%= lens.model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= lens.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= lens.comments %>
  </div>
</div>
