<h1>Add <%= @mushroom.name %> to a Cluster</h1>

<%= form_with(model: @cluster_mushroom, url: mushroom_cluster_mushrooms_path(@mushroom), local: true) do |form| %>
  <div>
    <%= form.label :cluster_id, "Select a Cluster" %>
    <%= form.collection_select(:cluster_id, @clusters, :id, :name, { prompt: "Choose a Cluster" }) %>
  </div>

  <%= form.submit "Add to Cluster", class: "btn btn-primary" %>
<% end %>
