<div id="<%= dom_id preservation_method %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= preservation_method.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= preservation_method.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= preservation_method.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= preservation_method.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= preservation_method.entered_by_id %>
  </div>
</div>
