<div id="<%= dom_id lens %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Make: <%= lens.make %> Model: <%= lens.model %></strong>
    <strong class="block font-medium mb-1">Description: <%= lens.description %></strong>
    <strong class="block font-medium mb-1">Comments: <%= lens.comments %></strong>
  </div>
</div>
