<div id="<%= dom_id mushroom_age %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= mushroom_age.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= mushroom_age.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= mushroom_age.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= mushroom_age.source %>
  </div>
</div>
