<div id="<%= dom_id gill_spacing %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gill_spacing.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gill_spacing.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= gill_spacing.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= gill_spacing.source %>
  </div>
</div>
