<h1>Add Mushroom to a Mushroom project</h1>

<%= form_with(model: @mushroom_project, url: mushroom_projects_path, local: true) do |form| %>
  <div>
    <%= form.label :project_id, "Select a Mushroom project" %>
    <%= form.collection_select(:projectr_id, @mushroom_projects, :id, :name, { prompt: "Choose a Mushroom project" }) %>
  </div>

  <%# Allow entering a mushroom_id when not nested %>
  <div>
    <%= form.label :mushroom_id, "Mushroom ID" %>
    <%= form.number_field :mushroom_id %>
  </div>

  <%= form.submit "Add to Mushroom project", class: "btn btn-primary" %>
<% end %>
