<h1><%= @resource.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @resource.comments %>
</p>

<p>
  <strong>Source:</strong>
  <%= @resource.source %>
</p>

<%= link_to "Edit", edit_polymorphic_path(@resource) %> |
<%= link_to "Back", polymorphic_path(@resource_class) %>