<div id="<%= dom_id cap_shape %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cap_shape.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cap_shape.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= cap_shape.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= cap_shape.source %>
  </div>
</div>
