<% content_for :title, "Showing MB List" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-1 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-2xl">Showing MB List</h1>

  <%= render @mb_list %>

  <%= link_to "Edit this MB List", edit_admin_mb_list_path(@mb_list), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to MB Lists", admin_mb_lists_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= button_to "Delete this MB List", admin_mb_list_path(@mb_list), method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
