<div id="<%= dom_id camera %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name: (What you call this make/model combination)</strong>
    <%= camera.name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= camera.camera_make %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= camera.camera_model %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= camera.description %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= camera.comments %>
  </div>
</div>
