<div id="<%= dom_id image_mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <p>form in app/views/admin/image_mushrooms/_image_mushroom.html.erb</p>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= image_mushroom.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Part:</strong>
    <%= image_mushroom.part.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Width:</strong>
    <%= image_mushroom.width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Height:</strong>
    <%= image_mushroom.height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Camera:</strong>
    <%= image_mushroom.camera.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lens:</strong>
    <%= image_mushroom.lens.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Exposure:</strong>
    <%= image_mushroom.exposure %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Aperture:</strong>
    <%= image_mushroom.aperture %>
  </div>
  <div>
    <strong class="block font-medium mb-1">ISO:</strong>
    <%= image_mushroom.iso %>
  </div>
</div>
