<div>
  <div class="flex justify-between items-center">
  <h1 class="font-bold text-2xl">Image Mushrooms</h1>
    <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-2 py-1 bg-gray-600 hover:bg-gray-500 text-white block font-medium" %>
  </div>
  <table class="table-auto border-collapse border border-gray-100">
    <thead>
      <tr>
        <th class="border px-4 py-1">ID</th>
        <th class="border px-4 py-1">Image Name</th>
        <th class="border px-4 py-1">Mushroom</th>
        <th class="border px-4 py-1">Part</th>
        <th class="border px-4 py-1">Image Size</th>
        <th class="border px-4 py-1">Camera - Lens</th>
        <th class="border px-4 py-1">Settings</th>
        <th class="border px-4 py-1">Created</th>
        <th class="border px-4 py-1">Updated</th>
        <th class="border px-4 py-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @image_mushrooms.each do |image_mushroom| %>
        <tr>
          <td class="border px-4 py-1"><%= image_mushroom.id %></td>
          <td class="border px-4 py-1"><%= image_mushroom.image_name %></td>
          <td class="border px-4 py-1"><%= image_mushroom.mushroom&.name || "No Mushroom" %></td>
          <td class="border px-4 py-1"><%= image_mushroom.part&.name || "No Part" %></td>
          <td class="border px-4 py-1"><%= image_mushroom.image_height || "No Image Height" %> X <%= image_mushroom.image_width || "No Image Width" %></td>
          <td class="border px-4 py-1"><%= image_mushroom.camera_make || 'N/A' %> - <%= image_mushroom.camera_model || 'N/A' %> - <%= image_mushroom.lens.presence || 'N/A' %></td>
          <td class="border px-4 py-1">Exposure: <%= image_mushroom.exposure || 'N/A' %> Aperture: <%= image_mushroom.aperture || 'N/A' %> ISO: <%= image_mushroom.iso || 'N/A' %></td>
          <td class="border px-4 py-1"><%= image_mushroom.created_at %></td>
          <td class="border px-4 py-1"><%= image_mushroom.updated_at %></td>
          <td class="border px-4 py-1">
            <%= render "admin/shared/resource_actions", record: image_mushroom, delete: false %>  <!-- show, edit, destroy (optional -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>