<div id="<%= dom_id display_option %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= display_option.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= display_option.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= display_option.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= display_option.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= display_option.entered_by_id %>
  </div>
</div>
