<div id="<%= dom_id rhizomorph_texture %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= rhizomorph_texture.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= rhizomorph_texture.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= rhizomorph_texture.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= rhizomorph_texture.source %>
  </div>
</div>
