<% content_for :title, "Source data" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Source Data</h1>

    <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    <%= link_to "New Source Data", new_admin_source_datum_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
  <!-- Pagination links (Top) -->
  <% if @source_data.any? %>
    <div class="my-2">
      <%= paginate @source_data,
                   theme: 'tailwind_bar',
                   params: request.query_parameters,
                   window: 2,        # how many pages around current
                   outer_window: 1   # how many pages at the ends
      %>
    </div>
  <% end %>

  <div id="source_data" class="min-w-full divide-y divide-gray-200 space-y-2">
    <% if @source_data.any? %>
      <% @source_data.each do |source_datum| %>
        <div class="pb-2">
          <%= render source_datum %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= render "admin/shared/resource_actions", record: source_datum, delete: false %>  <!-- show, edit, destroy (optional -->
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No source data found.</p>
    <% end %>
  </div>
  <!-- Pagination links (BOTTOM) -->
  <% if @source_data.any? %>
    <div class="my-2">
      <%= paginate @source_data,
                   theme: 'tailwind_bar',
                   params: request.query_parameters,
                   window: 2,        # how many pages around current
                   outer_window: 1   # how many pages at the ends
      %>
    </div>
  <% end %>
</div>
