<div id="<%= dom_id color %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Latin name:</strong>
    <%= color.latin_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Common name:</strong>
    <%= color.common_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Color group:</strong>
    <%= color.color_group %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hex:</strong>
    <%= color.hex %>
  </div>
  <div>
    <strong class="block font-medium mb-1">R val:</strong>
    <%= color.r_val %>
  </div>
  <div>
    <strong class="block font-medium mb-1">G val:</strong>
    <%= color.g_val %>
  </div>
  <div>
    <strong class="block font-medium mb-1">B val:</strong>
    <%= color.b_val %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Closest websafe color:</strong>
    <%= color.closest_websafe_color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Metadata:</strong>
    <%= color.metadata %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sequence:</strong>
    <%= color.sequence %>
  </div>
</div>
