<%= form_with(model: [:admin, color], class: "contents") do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul class="list-disc ml-6">
        <% color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :latin_name %>
    <%= form.text_field :latin_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:latin_name].none?, "border-red-400 focus:outline-red-600": color.errors[:latin_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:common_name].none?, "border-red-400 focus:outline-red-600": color.errors[:common_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :color_group %>
    <%= form.number_field :color_group, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:color_group].none?, "border-red-400 focus:outline-red-600": color.errors[:color_group].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :hex %>
    <%= form.text_field :hex, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:hex].none?, "border-red-400 focus:outline-red-600": color.errors[:hex].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :r_val %>
    <%= form.number_field :r_val, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:r_val].none?, "border-red-400 focus:outline-red-600": color.errors[:r_val].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :g_val %>
    <%= form.number_field :g_val, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:g_val].none?, "border-red-400 focus:outline-red-600": color.errors[:g_val].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :b_val %>
    <%= form.number_field :b_val, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:b_val].none?, "border-red-400 focus:outline-red-600": color.errors[:b_val].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :closest_websafe_color %>
    <%= form.text_field :closest_websafe_color, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:closest_websafe_color].none?, "border-red-400 focus:outline-red-600": color.errors[:closest_websafe_color].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :metadata %>
    <%= form.text_field :metadata, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": color.errors[:metadata].none?, "border-red-400 focus:outline-red-600": color.errors[:metadata].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
