<div id="<%= dom_id gill_context_flesh_latex_abundance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gill_context_flesh_latex_abundance.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gill_context_flesh_latex_abundance.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= gill_context_flesh_latex_abundance.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= gill_context_flesh_latex_abundance.source %>
  </div>
</div>
