<%= form_with(model: all_group, class: "contents") do |form| %>
  <% if all_group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-2 py-1 font-medium rounded-md mt-3">
      <h2><%= pluralize(all_group.errors.count, "error") %> prohibited this all_group from being saved:</h2>

      <ul class="list-disc ml-6">
        <% all_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": all_group.errors[:name].none?, "border-red-400 focus:outline-red-600": all_group.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": all_group.errors[:description].none?, "border-red-400 focus:outline-red-600": all_group.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :comments %>
    <%= form.textarea :comments, rows: 4, class: ["block shadow-sm rounded-md border px-2 py-1 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": all_group.errors[:comments].none?, "border-red-400 focus:outline-red-600": all_group.errors[:comments].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit(all_group.persisted? ? "Update Group" : "Create Group", class: "btn-primary btn-responsive") %>
  </div>
<% end %>
