<%= form_with(model: all_group_mushroom, class: "contents") do |form| %>
  <% if all_group_mushroom.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(all_group_mushroom.errors.count, "error") %> prohibited this all_group_mushroom from being saved:</h2>

      <ul class="list-disc ml-6">
        <% all_group_mushroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :display_option, "Display Option", class: "block font-medium text-gray-700" %>
    <%= form.collection_select :display_option, DisplayOption.all, :id, :safe_name,
                               prompt: "Select Display Option",
                               class: "block shadow-sm rounded-md border px-3 py-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :part, "Part", class: "block font-medium text-gray-700" %>
    <%= form.collection_select :part, Part.id, :id, :safe_name,
                               prompt: "Select Part",
                               class: "block shadow-sm rounded-md border px-3 py-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :source, "Source", class: "block font-medium text-gray-700" %>
    <%= form.collection_select :source, Source.all, :id, :title,
                               prompt: "Select Source",
                               class: "block shadow-sm rounded-md border px-3 py-2 w-full focus:outline-blue-600" %>
  </div>

<% end %>
