<h1>Add <%= @mushroom.name %> to a Group</h1>

<%= form_with(model: @all_group_mushroom, url: mushroom_all_group_mushrooms_path(@mushroom), local: true) do |form| %>
  <div>
    <%= form.label :all_group_id, "Select a Group" %>
    <%= form.collection_select(:all_group_id, @all_groups, :id, :name, { prompt: "Choose a Group" }) %>
  </div>

  <%= form.submit "Add to Group", class: "btn btn-primary" %>
<% end %>
