<div id="<%= dom_id specimen_age %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= specimen_age.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= specimen_age.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= specimen_age.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= specimen_age.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= specimen_age.entered_by_id %>
  </div>
</div>
