<div id="<%= dom_id gill_thickness %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gill_thickness.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gill_thickness.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= gill_thickness.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= gill_thickness.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= gill_thickness.entered_by_id %>
  </div>
</div>
