<div id="<%= dom_id universal_outer_veil_appearance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= universal_outer_veil_appearance.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= universal_outer_veil_appearance.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= universal_outer_veil_appearance.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= universal_outer_veil_appearance.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= universal_outer_veil_appearance.entered_by_id %>
  </div>
</div>
