<div id="<%= dom_id mr_character %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="text-sm">
    ID: <span class="font-bold text-lg"><%= mr_character.id %></span>,
    Name: <span class="font-bold text-lg"><%= mr_character.name %></span>,
    Display options: <span class="font-bold text-lg"><%= mr_character.display_option_name %></span>,
    Parts: <span class="font-bold text-lg"><%= mr_character.part_name %></span>
  </div>
  <div class="text-sm">
    Source: <span class="font-bold text-lg"><%= mr_character.source_name %></span>
  </div>
</div>