<% content_for :title, "Mushroom Characters" %>

<div><p>app/views/mr_characters/index.html.erb</p></div>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

   <%= form_with url: mr_characters_path, method: :get, local: true, class: "flex space-x-4 mb-5" do |form| %>
     <div>
       <%= form.label :lookup_type_id, "Lookup Type", class: "block font-bold" %>
       <%= form.select :lookup_type_id, LookupType.pluck(:name, :id), include_blank: "All", class: "rounded-md border-gray-300 w-full" %>
     </div>

    <div>
      <%= form.label :part_id, "Part", class: "block font-bold" %>
      <%= form.select :part_id, @parts, include_blank: "All", class: "rounded-md border-gray-300 w-full" %>
    </div>


     <div class="flex items-end">
       <%= form.submit "Filter", class: "rounded-md px-4 py-2 bg-blue-600 text-white" %>
     </div>
   <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Mushroom Characters</h1>
    <%= link_to "New Mushroom Character", new_mr_character_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="mr_characters" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @mr_characters.any? %>
      <% @mr_characters.each do |mr_character| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-3 sm:pb-0">
          <%= render mr_character %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <!-- Tailwind-styled Show button -->
            <%= link_to "Show", mr_character, class: "w-full sm:w-auto  inline-flex items-center text-center rounded-md px-2.5 py-2.5 text-white bg-blue-600 hover:bg-blue-500 font-medium" %>
            <!-- Tailwind-styled Edit button -->
            <%= link_to "Edit", edit_mr_character_path(mr_character), class: "w-full sm:w-auto inline-flex items-center text-center rounded-md px-2.5 py-2.5 text-white bg-blue-600 hover:bg-blue-500 font-medium" %>
            <!-- Tailwind-styled Destroy button -->
            <%= button_to "Destroy", mr_character, method: :delete, class: "w-full sm:w-auto inline-flex items-center text-center rounded-md px-2.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>

        </div>
      <% end %>

      <div class="mt-5">
        <%= paginate @mr_characters %> <!-- Pagination links -->
      </div>
    <% else %>
      <p class="text-center my-10">No mushroom characters found.</p>
    <% end %>
  </div>
</div>