<div id="<%= dom_id mr_character_mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mr character:</strong>
    <%= mr_character_mushroom.mr_character_id_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mushroom:</strong>
    <%= mr_character_mushroom.mushroom_id_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Character value:</strong>
    <%= mr_character_mushroom.character_value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= mr_character_mushroom.entered_by_id %>
  </div>
</div>
