<div id="<%= dom_id image_mushroom_thumbnail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Image mushroom:</strong>
    <%= image_mushroom_thumbnail.image_mushroom_id_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Thumbnail file address:</strong>
    <%= image_mushroom_thumbnail.thumbnail_file_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image width:</strong>
    <%= image_mushroom_thumbnail.image_width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image height:</strong>
    <%= image_mushroom_thumbnail.image_height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= image_mushroom_thumbnail.entered_by_id %>
  </div>
</div>
