<div id="<%= dom_id dna_sequence %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mushroom:</strong>
    <%= dna_sequence.mushroom_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= dna_sequence.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dna barcode its:</strong>
    <%= dna_sequence.dna_barcode_its %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Genbank number url:</strong>
    <%= dna_sequence.genbank_number_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Genbank accession number:</strong>
    <%= dna_sequence.genbank_accession_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Herbarium catalog number:</strong>
    <%= dna_sequence.herbarium_catalog_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mycomap blast results:</strong>
    <%= dna_sequence.mycomap_blast_results %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Provisional species name:</strong>
    <%= dna_sequence.provisional_species_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sequencing technology:</strong>
    <%= dna_sequence.sequencing_technology %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Trace files raw dna data:</strong>
    <%= dna_sequence.trace_files_raw_dna_data %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Voucher number:</strong>
    <%= dna_sequence.voucher_number %>
  </div>
</div>
