<div id="<%= dom_id image_mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mushroom:</strong>
    <%= image_mushroom.mushroom_id_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Parts:</strong>
    <%= image_mushroom.parts_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= image_mushroom.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image name:</strong>
    <%= image_mushroom.image_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">File address:</strong>
    <%= image_mushroom.file_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image width:</strong>
    <%= image_mushroom.image_width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image height:</strong>
    <%= image_mushroom.image_height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Camera make:</strong>
    <%= image_mushroom.camera_make_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Camera model:</strong>
    <%= image_mushroom.camera_model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lens:</strong>
    <%= image_mushroom.lens %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Exposure:</strong>
    <%= image_mushroom.exposure %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Aperture:</strong>
    <%= image_mushroom.aperture %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Iso:</strong>
    <%= image_mushroom.iso %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date taken:</strong>
    <%= image_mushroom.date_taken %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Focal length:</strong>
    <%= image_mushroom.focal_length %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslatituderef:</strong>
    <%= image_mushroom.GPSLatitudeRef %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslatitude 0:</strong>
    <%= image_mushroom.GPSLatitude_0 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslatitude 1:</strong>
    <%= image_mushroom.GPSLatitude_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslatitude 2:</strong>
    <%= image_mushroom.GPSLatitude_2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslongituderef:</strong>
    <%= image_mushroom.GPSLongitudeRef %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslongitude 0:</strong>
    <%= image_mushroom.GPSLongitude_0 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslongitude 1:</strong>
    <%= image_mushroom.GPSLongitude_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpslongitude 2:</strong>
    <%= image_mushroom.GPSLongitude_2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpsaltituderef:</strong>
    <%= image_mushroom.GPSAltitudeRef %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpsaltitude:</strong>
    <%= image_mushroom.GPSAltitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= image_mushroom.entered_by_id %>
  </div>
</div>
