<div id="<%= dom_id image_mushroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mushroom:</strong>
    <%= image_mushroom.mushroom_id_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Parts:</strong>
    <%= image_mushroom.parts_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image name:</strong>
    <%= image_mushroom.image_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image file address:</strong>
    <%= image_mushroom.image_file_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image width:</strong>
    <%= image_mushroom.image_width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image height:</strong>
    <%= image_mushroom.image_height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Camera make:</strong>
    <%= image_mushroom.camera_make_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Camera model:</strong>
    <%= image_mushroom.camera_model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lens:</strong>
    <%= image_mushroom.lens %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Exposure:</strong>
    <%= image_mushroom.exposure %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Aperture:</strong>
    <%= image_mushroom.aperture %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Iso:</strong>
    <%= image_mushroom.iso %>
  </div>
</div>
