<div id="<%= dom_id habit %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= habit.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= habit.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= habit.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= habit.source_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= habit.entered_by_id %>
  </div>
</div>
