<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) || "Mrdbid" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="turbo-cache-control" content="no-cache">

  <%= yield :head %>

  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>

<body>
<!-- Navigation Bar -->
<header>
  <nav >
    <!-- Clickable Logo -->
    <%= render "shared/logo" %>

    <!-- Navigation Links -->
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if user_signed_in? %>
        <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<!-- Page Content -->
<main>
  <div>
    <%= yield %>
  </div>
</main>

<!-- Footer (Optional) -->
<footer>
  <p>© <%= Time.now.year %> Mrdbid. All rights reserved.</p>
</footer>
</body>
</html>