<div id="<%= dom_id project_belongs_to %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project_belongs_to.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= project_belongs_to.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= project_belongs_to.comments %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= project_belongs_to.source %>
  </div>
</div>
