<%= form_with(model: source_datum, class: "contents") do |form| %>
  <% if source_datum.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(source_datum.errors.count, "error") %> prohibited this source_datum from being saved:</h2>

      <ul class="list-disc ml-6">
        <% source_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:title].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :author %>
    <%= form.text_field :author, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:author].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:author].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ref %>
    <%= form.text_field :ref, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:ref].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:ref].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :item_code %>
    <%= form.text_field :item_code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:item_code].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:item_code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :source_data_type %>
    <%= form.number_field :source_data_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:source_data_type].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:source_data_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :comment %>
    <%= form.textarea :comment, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": source_datum.errors[:comment].none?, "border-red-400 focus:outline-red-600": source_datum.errors[:comment].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
