<div id="<%= dom_id source_datum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= source_datum.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= source_datum.author %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ref:</strong>
    <%= source_datum.ref %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Item code:</strong>
    <%= source_datum.item_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source data type:</strong>
    <%= source_datum.source_data_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= source_datum.comment %>
  </div>
</div>
